
body{
    background-color:black;
    text-align: center;
    color:yellow;
}
.container1{
    display:inline-block;
    font-family: 'Architects Daughter', cursive;
    font-size: 3rem;
    font-weight: bolder;
}
.container2{
    font-family: 'Ultra', serif;
    font-size: 2rem;
}
.container2:hover{
    color:white;
    font-size: 2.5em;;
}
footer{
    text-align: center;
}
.footer{
    font-family: 'Architects Daughter', cursive;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom:1em;
}
